.icoCard:hover {
    background: linear-gradient(#e06479, #d34aa3) !important;
    box-shadow: 0px 30px 70px rgb(0 0 0 / 10%) !important;
    cursor: pointer;
  }
  
  .activeIcoCard{
    background: linear-gradient(#e06479, #d34aa3) !important;
    box-shadow: 0px 30px 70px rgb(0 0 0 / 10%) !important;
    cursor: pointer;
  }
