.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  z-index: 1;
}

.slides {
  position: absolute;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  z-index: 1;
}

button[class='slick-arrow slick-prev'] {
  left: 0;
  top: 38%;
  margin: 0 10px;
  z-index: 1;
}

button[class='slick-arrow slick-next'] {
  right: 0;
  top: 38%;
  margin: 0 10px;
  z-index: 1;
}

button[class='slick-arrow slick-prev'] {
  height: 20px;
  width: 20px;
}

.MuiTabs-indicator {
  background: linear-gradient(
    90deg,
    rgb(234, 122, 143) 0.64%,
    rgb(228, 82, 200) 99.36%
  );
}
