.hover-nft-button-container {
  position: relative;
  overflow: hidden;
}

.hover-nft-button {
  display: none !important;
  transition: height 0.3s ease-in-out;
}

.nft-container .hover-nft-button-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  background-image: url('./../../assets/overlay_logo.svg');
}

.nft-container:hover .hover-nft-button {
  display: inline !important;
  position: absolute;
  bottom: 0;
}

.css-155esxh-MuiPaper-root {
  margin-top: 20px;
}

.css-mhc70k-MuiGrid-root {
  margin-top: 10px;
}

.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root:hover {
  background: linear-gradient(
    90deg,
    rgb(234, 122, 143) 0.64%,
    rgb(228, 82, 200) 99.36%
  );
}
