body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
  height: 100%;
}
::-webkit-scrollbar {
  /* width: 10px; */
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
*:hover::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb {
  background-color: #00000080;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.bgBlue {
  background-color: #312470;
}

.signInGradient:after {
  content: '';
  background: linear-gradient(269deg, #ed8ef3 24.22%, #7968ff 100%);
  position: fixed;
  width: 100%;
  top: 0;
  left: calc(50% - 50px);
  height: 100%;
  transform: skewX(-10deg);
  z-index: -1;
  border-left: 50px solid #2d2169;
}

.nft_button {
  font-size: 14px !important;
  font-weight: 500 !important;
  border-radius: 25px !important;
  text-transform: inherit !important;
  line-height: normal !important;
}

.ftpContainer {
  position: relative;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.ftpContainer:hover .overlay {
  display: block;
  background: #31256c80;
}

.buyButton {
  position: absolute;
  opacity: 0;
  top: 140px;
  width: 100%;
  text-align: center;
  transition: opacity 0.35s ease;
}

.buyButton button:hover {
  background-color: white;
}
.buyButton button {
  font-size: 12px;
  font-weight: 700;
  border-radius: 25px;
  padding: 10px 42px;
  background-color: white;
  color: #271d5a;
  text-transform: none;
}

.ftpContainer:hover .buyButton {
  opacity: 1;
}

.categories-filter-button {
  font-size: 12px !important;
  font-weight: 600px !important;
  padding: 10px 22px !important;
  border-radius: 22px !important;
  margin: 0px 13px 15px 0px !important;
  text-transform: inherit !important;
  color: white !important;
  background-color: #4f409a !important;
}

.categories-filter-button:hover {
  background: linear-gradient(92.44deg, #ea7a8f 3.93%, #e452c8 98.71%);
}

.buyNowContainer {
  bottom: 0;
  left: 0;
  z-index: 10;
  position: relative;
  box-shadow: 0px 0px 70px rgb(39 29 90) !important;
}

.buyNowContainerSticky {
  position: fixed;
  animation: transition 0.3s linear;
}
