body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

::-webkit-scrollbar {
  /* width: 10px; */
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*:hover::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb {
  background-color: #00000080;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.signInGradient:after {
  content: '';
  background: linear-gradient(269deg, #ed8ef3 24.22%, #7968ff 100%);
  position: fixed;
  width: 100%;
  top: 0;
  left: calc(50% - 50px);
  height: 100%;
  transform: skewX(-10deg);
  z-index: -1;
  border-left: 50px solid #2d2169;
}

.mh100vh {
  min-height: 100vh;
}

.w50p {
  width: 50%;
}

.w40p {
  width: 40% !important;
}

.w60p {
  width: 60% !important;
}

.w100p {
  width: 100%;
}

.w125p {
  width: 125%;
}

.cursorPointer {
  cursor: pointer;
}

/* Margin spacing */

.mr25 {
  margin-right: 25px;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.lh78 {
  line-height: 78px !important;
}

.fs12 {
  font-size: 12px !important;
}

.fs14 {
  font-size: 14px !important;
}

.fs16 {
  font-size: 16px !important;
}

.fs18 {
  font-size: 18px !important;
}

.fs22 {
  font-size: 22px !important;
}

.fs35 {
  font-size: 35px !important;
}

.fs40 {
  font-size: 40px !important;
}

.fs50 {
  font-size: 50px !important;
}

.fs60 {
  font-size: 60px !important;
}

.fw300 {
  font-weight: 300 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw600 {
  font-weight: 600 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.fw800 {
  font-weight: 800 !important;
}

.dFlex {
  display: flex;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}

.justifyContentCenter {
  justify-content: center;
}

.alignItemsCenter {
  align-items: center;
}

.flex-grow-100 {
  flex-grow: 100;
}

.borderWhite {
  border: 1px solid white !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.bgGradient {
  background: linear-gradient(92.44deg, #ea7a8f 3.93%, #e452c8 98.71%);
}

.colorYellow {
  color: #ffd215;
}

.textDecorationUnderline {
  text-decoration: underline;
}

.cursorPointer {
  cursor: pointer;
}

.disableColor {
  background-color: #8a82af !important;
}

.colorWhite {
  color: white !important;
}

.p14 {
  padding: 14px !important;
}

.p30 {
  padding: 30px;
}

.pt10 {
  padding-top: 10px;
}

.pt16 {
  padding-top: 16px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.p0-20 {
  padding: 0px 20px !important;
}

.p10-25 {
  padding: 10px 25px !important;
}

.p10-42 {
  padding: 10px 42px !important;
}

.p14-32 {
  padding: 14px 32px !important;
}

.br5 {
  border-radius: 5px !important;
}

.br10 {
  border-radius: 10px !important;
}

.br15 {
  border-radius: 15px !important;
}

.br20 {
  border-radius: 20px !important;
}

.br25 {
  border-radius: 25px !important;
}

.brTop20 {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.bgBlue {
  background-color: #312470;
}

.nft_button {
  font-size: 14px !important;
  font-weight: 500 !important;
  border-radius: 25px !important;
  text-transform: inherit !important;
  line-height: normal !important;
}

.ftpContainer {
  position: relative;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.ftpContainer:hover .overlay {
  display: block;
  background: #31256c80;
}

.buyButton {
  position: absolute;
  opacity: 0;
  top: 140px;
  width: 100%;
  text-align: center;
  transition: opacity 0.35s ease;
}

.buyButton button:hover {
  background-color: white;
}

.buyButton button {
  font-size: 12px;
  font-weight: 700;
  border-radius: 25px;
  padding: 10px 42px;
  background-color: white;
  color: #271d5a;
  text-transform: none;
}

.ftpContainer:hover .buyButton {
  opacity: 1;
}

.h300 {
  height: 300px;
}

.objectFitCover {
  object-fit: cover;
}

.categories-filter-button {
  font-size: 12px !important;
  font-weight: 600px !important;
  padding: 10px 22px !important;
  border-radius: 22px !important;
  margin: 0px 13px 15px 0px !important;
  text-transform: inherit !important;
  color: white !important;
  background-color: #4f409a !important;
}

.categories-filter-button:hover {
  background: linear-gradient(92.44deg, #ea7a8f 3.93%, #e452c8 98.71%);
}

/* 
.MuiSwitch-switchBase {
  color: white !important;
}

.MuiSwitch-switchBase + .MuiSwitch-track {
  background-color: #483894 !important;
  opacity: 1 !important;
}

.MuiSwitch-switchBase.Mui-checked {
  color: #00a3ff !important;
}

.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: white !important;
  opacity: 1 !important;
} */

.textAlignCenter {
  text-align: center;
}